build/*
*.kdev4
*.kdevelop
*.swagger-codegen
swagger-codegen*
.vscode/*
.idea/*
cmake-build-*
cmake-build-debug/*
Vagrantfile
libyang
src/libs/prometheus-cpp/_build/
deps

cmake-build-debug/
Debug/*
compile_commands.json